.headerArrow {
  background-color: #c51017;
  width: 60px;
  height: 60px;
  line-height: 70px;
  border-radius: 0 6px 6px 0; }

.basic-arrow-img {
  width: 24px;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.section {
  max-width: 1150px;
  width: 100%;
  margin: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.basic-h1 {
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 60px 60px; }

.basic-hr {
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  width: 70px;
  border: none;
  height: 5px; }

.basic-hr-header {
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  border: none;
  height: 5px;
  animation-name: basicHrHeader;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.basic-p {
  color: #c5d3db;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 0 60px 60px 60px;
  max-width: 600px;
  text-align: left; }

.basic-p-header {
  color: #c5d3db;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 0 60px 60px 60px;
  max-width: 600px;
  text-align: left;
  opacity: 0;
  animation-name: BasicPHeaderMatrix;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  position: absolute;
  height: 100px; }

.basic-arrow-img {
  width: 24px;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.basic-button {
  margin-left: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ed1b24;
  text-align: center;
  padding: 0 0 0 15px;
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  letter-spacing: .075em; }
  .basic-button p {
    margin-right: 15px; }

.section h1 {
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 60px 60px; }

.section hr {
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  width: 70px;
  border: none;
  height: 5px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

@font-face {
  font-family: league-gothic;
  src: url(leaguegothic-regular-webfont.woff); }
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(RobotoSlab-Bold.ttf); }
@font-face {
  font-family: Roboto;
  src: url(RobotoSlab-Regular-webfont.woff); }
/************************************* NAVIGATION ******************************************/
.innerPage {
  color: inherit; }

.navigation {
  height: 60px;
  width: 100%;
  max-width: 1150px;
  position: fixed;
  display: inline-block;
  text-align: center;
  align-items: center;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9999; }

.scrolledNav {
  transform: matrix(1, 0, 0, 1, 0, -144);
  transition: 1s; }

.scrolledNavUp {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 1s; }

.navigationMobile {
  display: none; }

.navigation img {
  width: 60px; }

.navigation ul {
  display: flex;
  flex-direction: row;
  height: 100%; }

.navigation ul li:not(:nth-child(1)) {
  display: flex;
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  border-right: 1px solid #ddd;
  color: #4f5a60;
  flex-basis: 0;
  flex-grow: 1;
  line-height: 60px;
  justify-content: center;
  height: inherit;
  font-size: 24px;
  background-color: #fff;
  z-index: 99;
  cursor: pointer; }

.navigation ul li:nth-child(7) {
  background-color: #ed1b24;
  color: white;
  border-right: none; }

.navigation ul li:not(:nth-child(1)) {
  text-decoration: none;
  position: relative;
  padding: 0; }

.navigation ul li:not(:nth-child(1)):hover {
  color: white;
  transition: 0.3s; }

.navigation ul li:not(:nth-child(1)):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #21262D;
  color: white;
  transition: 0.3s;
  z-index: 1; }

.navigation ul li:not(:nth-child(1)):hover:after {
  width: 100%;
  right: 0;
  left: 0;
  color: white;
  height: 100%; }

.navSpan {
  z-index: 9999; }

.navigationMobileContentActive {
  top: 60px;
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: #21262D;
  z-index: 9999;
  transition: 0.3s; }

.navigationMobileContentUl {
  display: none; }

.ulActive {
  display: flex;
  flex-direction: column;
  padding-top: 30px; }

.navSpanMobile {
  margin-left: -90px;
  opacity: 0;
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 0 60px;
  transition: 0.3s;
  cursor: pointer; }

.navSpanMobileFade {
  opacity: 1;
  margin-left: -30px;
  transition: 0.9s; }

@media only screen and (max-width: 800px) {
  .navigation ul li:not(:nth-child(1)) {
    display: none; }

  .navigation ul {
    display: none; }

  .navigationMobile {
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    z-index: 9999;
    background-color: #fff; }

  .navigationMobile img {
    width: 60px; }

  .navigationMobile ul {
    display: flex;
    flex-direction: row;
    height: 100%; }

  .navigationMobileContentUl li {
    position: relative;
    left: -50px;
    animation-name: nav_li_animation;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    transition: 0.3s; }

  @keyframes nav_li_animation {
    from {
      left: -50px; }
    to {
      left: 0px; } }
  .navSpanMobile {
    position: relative;
    transition: 0.3s; }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    cursor: pointer; }

  .hamburger {
    width: 50px;
    height: 6px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s; }

  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: gray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
    left: 0; }

  .hamburger:before {
    top: -16px; }

  .hamburger:after {
    top: 16px; }

  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }

  .icon.active .hamburger:before {
    transform: rotate(45deg);
    top: 0; }

  .icon.active .hamburger:after {
    transform: rotate(135deg);
    top: 0; } }
/************************************* HEADER SECTION ******************************************/
.basic-button:hover {
  background-color: #c51017;
  transition-duration: 0.5s; }

#headerButtonImg.headerButtonImgHover {
  transition-duration: 0.1s;
  transform: matrix(1, 0, 0, 1, 10, 0);
  opacity: 0; }

.headerSection {
  height: 700px;
  background-image: url("img/getinvolved-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999; }

.headerSectionDots {
  height: 700px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 80%, #1b1e2d 30%, #1b1e2d 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 30%, #1b1e2d 30%, #1b1e2d 100%);
  background-size: .30em .30em; }

.header-boxes {
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between; }

.box {
  width: 360px;
  height: 530px;
  display: flex;
  flex-direction: column; }

.boxTop {
  flex-basis: 0;
  flex-grow: 2;
  transition: 0.4s; }

.boxBottom {
  background-color: #fff;
  padding: 35px;
  overflow: hidden;
  z-index: 10;
  flex-basis: 0;
  flex-grow: 1;
  transition: 0.4s; }

.boxBottomHeight {
  flex-grow: 2; }

.boxTop1 {
  background-image: url("img/header-box1.png");
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  transition: 0.4s; }

.boxTop2 {
  background-image: url("img/header-box2.png");
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  transition: 0.4s; }

.boxTop3 {
  background-image: url("img/header-box3.png");
  background-size: 120%;
  background-position: top;
  background-repeat: no-repeat;
  transition: 0.4s; }

.box {
  cursor: pointer; }
  .box h1 {
    color: #21262D;
    font-size: 45px;
    padding: 0;
    padding-bottom: 20px; }
  .box hr {
    margin: 0;
    margin-bottom: 30px; }
  .box p {
    padding: 0;
    padding-bottom: 15px;
    color: #4f5a60; }
  .box a {
    font-family: RobotoSlab-Bold;
    color: #21262D;
    position: relative;
    top: 30px; }
    .box a img {
      margin-left: 5px;
      width: 8px;
      position: relative;
      top: 2px; }

/*
.darken-pseudo {
  position: relative;
  transition:0.4s;
}

.darken-pseudo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
    transition:0.4s;
}
*/
/************************************* FIRST SECTION *********************************************/
.firstSection {
  height: 500px;
  background-color: #EDEEF0;
  display: flex;
  justify-content: center;
  align-items: center; }

.first {
  flex-direction: row;
  height: 380px; }

.firstLeft {
  background-image: url("img/getinvolved1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  flex-basis: 0;
  flex-grow: 1;
  height: inherit; }

.firstRight {
  background-color: #fff;
  flex-basis: 0;
  flex-grow: 1;
  align-items: flex-start; }
  .firstRight h1 {
    color: #21262D;
    font-size: 45px;
    padding: 0;
    padding-left: 60px; }

.getinvolved-p {
  color: #4f5a60;
  padding-bottom: 15px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  font-size: 16px;
  padding-right: 15px; }

.footerSection {
  position: relative;
  height: 370px;
  background-color: #21262d;
  margin-top: 200px; }

.footer {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  align-items: center; }

.footer p {
  margin: 0;
  padding: 0;
  max-width: 600px;
  font-size: 14px;
  padding: 8px 0; }

.footer h1 {
  padding: 0;
  margin: 0;
  font-size: 30px; }

.footerTop {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  margin: 30px 0; }

.footerTopLeft {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: row;
  width: 100%; }

.footerTopRight {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
  margin-left: 200px;
  margin-bottom: 20px; }

.footerTop1 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerTop2 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerTop3 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerTop4 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footer hr {
  width: 100%;
  height: 0.05em;
  border: none;
  background-color: silver; }

.footerBottom {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  padding: 20px 0;
  border-top: 0.01em solid silver; }

.footerBottom img {
  width: 18px; }

.footerBottom1 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerBottom2 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerBottom3 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerSection {
  margin-top: 0; }

/**************************** RESPONSIVE SECTION *******************************/
@media only screen and (max-width: 1200px) {
  .footerTop {
    padding: 0 20px; }

  .footerBottom {
    padding: 0 20px;
    padding-top: 20px; }

  .footerTopRight {
    margin-left: 150px; } }
@media only screen and (max-width: 800px) {
  .footerTop {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 10;
    padding: 30px; }

  .footerBottom {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 4;
    padding: 30px; }

  .footerTopLeft {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 2; }

  .footerTopRight {
    flex-direction: column;
    margin-left: 0;
    flex-basis: 0;
    flex-grow: 1; }

  .footerSection {
    height: 850px; } }
@media only screen and (max-width: 800px) {
  .header-boxes {
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 50px; }

  .first {
    padding: 0 15px; }

  .headerSection {
    height: 200vh; }

  .headerSectionDots {
    height: 200vh; }

  .box {
    width: 95%;
    height: 500px; }

  .boxTop {
    flex-grow: 2.5; }

  .firstLeft {
    display: none; } }

/*# sourceMappingURL=getinvolved.css.map */
