.headerArrow {
  background-color: #c51017;
  width: 60px;
  height: 60px;
  line-height: 70px;
  border-radius: 0 6px 6px 0; }

.basic-arrow-img {
  width: 24px;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.section {
  max-width: 1150px;
  width: 100%;
  margin: auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.basic-h1 {
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 60px 60px; }

.basic-hr {
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  width: 70px;
  border: none;
  height: 5px; }

.basic-hr-header {
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  border: none;
  height: 5px;
  animation-name: basicHrHeader;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

.basic-p {
  color: #c5d3db;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 0 60px 60px 60px;
  max-width: 600px;
  text-align: left; }

.basic-p-header {
  color: #c5d3db;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 0 60px 60px 60px;
  max-width: 600px;
  text-align: left;
  opacity: 0;
  animation-name: BasicPHeaderMatrix;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  position: absolute;
  height: 100px; }

.basic-arrow-img {
  width: 24px;
  transform: matrix(1, 0, 0, 1, 0, 0); }

.basic-button {
  margin-left: 60px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #ed1b24;
  text-align: center;
  padding: 0 0 0 15px;
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  letter-spacing: .075em; }
  .basic-button p {
    margin-right: 15px; }

.section h1 {
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 60px 60px; }

.section hr {
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  width: 70px;
  border: none;
  height: 5px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

@font-face {
  font-family: league-gothic;
  src: url(leaguegothic-regular-webfont.woff); }
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(RobotoSlab-Bold.ttf); }
@font-face {
  font-family: Roboto;
  src: url(RobotoSlab-Regular-webfont.woff); }
/************************************* NAVIGATION ******************************************/
.innerPage {
  color: inherit; }

.navigation {
  height: 60px;
  width: 100%;
  max-width: 1150px;
  position: fixed;
  display: inline-block;
  text-align: center;
  align-items: center;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9999; }

.scrolledNav {
  transform: matrix(1, 0, 0, 1, 0, -144);
  transition: 1s; }

.scrolledNavUp {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: 1s; }

.navigationMobile {
  display: none; }

.navigation img {
  width: 60px; }

.navigation ul {
  display: flex;
  flex-direction: row;
  height: 100%; }

.navigation ul li:not(:nth-child(1)) {
  display: flex;
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  border-right: 1px solid #ddd;
  color: #4f5a60;
  flex-basis: 0;
  flex-grow: 1;
  line-height: 60px;
  justify-content: center;
  height: inherit;
  font-size: 24px;
  background-color: #fff;
  z-index: 99;
  cursor: pointer; }

.navigation ul li:nth-child(7) {
  background-color: #ed1b24;
  color: white;
  border-right: none; }

.navigation ul li:not(:nth-child(1)) {
  text-decoration: none;
  position: relative;
  padding: 0; }

.navigation ul li:not(:nth-child(1)):hover {
  color: white;
  transition: 0.3s; }

.navigation ul li:not(:nth-child(1)):after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #21262D;
  color: white;
  transition: 0.3s;
  z-index: 1; }

.navigation ul li:not(:nth-child(1)):hover:after {
  width: 100%;
  right: 0;
  left: 0;
  color: white;
  height: 100%; }

.navSpan {
  z-index: 9999; }

.navigationMobileContentActive {
  top: 60px;
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: #21262D;
  z-index: 9999;
  transition: 0.3s; }

.navigationMobileContentUl {
  display: none; }

.ulActive {
  display: flex;
  flex-direction: column;
  padding-top: 30px; }

.navSpanMobile {
  margin-left: -90px;
  opacity: 0;
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 0 60px;
  transition: 0.3s;
  cursor: pointer; }

.navSpanMobileFade {
  opacity: 1;
  margin-left: -30px;
  transition: 0.9s; }

@media only screen and (max-width: 800px) {
  .navigation ul li:not(:nth-child(1)) {
    display: none; }

  .navigation ul {
    display: none; }

  .navigationMobile {
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    z-index: 9999;
    background-color: #fff; }

  .navigationMobile img {
    width: 60px; }

  .navigationMobile ul {
    display: flex;
    flex-direction: row;
    height: 100%; }

  .navigationMobileContentUl li {
    position: relative;
    left: -50px;
    animation-name: nav_li_animation;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    transition: 0.3s; }

  @keyframes nav_li_animation {
    from {
      left: -50px; }
    to {
      left: 0px; } }
  .navSpanMobile {
    position: relative;
    transition: 0.3s; }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    cursor: pointer; }

  .hamburger {
    width: 50px;
    height: 6px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s; }

  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: gray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
    left: 0; }

  .hamburger:before {
    top: -16px; }

  .hamburger:after {
    top: 16px; }

  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); }

  .icon.active .hamburger:before {
    transform: rotate(45deg);
    top: 0; }

  .icon.active .hamburger:after {
    transform: rotate(135deg);
    top: 0; } }
/************************************* HEADER *********************************************/
.headerSection {
  height: 700px;
  background-image: url("img/team-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -999; }

.headerSectionDots {
  height: 700px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 80%, #1b1e2d 30%, #1b1e2d 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 30%, #1b1e2d 30%, #1b1e2d 100%);
  background-size: .30em .30em; }

.header {
  align-items: flex-start; }

.header h1 {
  max-width: 600px;
  text-align: left; }

.hrAnimation {
  opacity: 0;
  width: 0;
  background-color: #ed1b24;
  margin: 0 60px 60px 60px;
  border: none;
  height: 5px;
  animation-name: basicHrHeader;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }

@keyframes basicHrHeader {
  from {
    width: 0px; }
  to {
    width: 70px;
    opacity: 1; } }
.pAnimation {
  opacity: 0;
  animation-name: pHeaderAnimation;
  animation-duration: 0.6s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  position: relative;
  height: 100px; }

@keyframes pHeaderAnimation {
  from {
    top: 100px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
.dividedTextContainer {
  display: flex;
  flex-direction: column; }

.h1First div {
  overflow: hidden;
  display: inline-block; }

.header h1 {
  display: flex;
  flex-direction: column;
  max-width: 800px; }

.h1FirstInner {
  animation-name: h1FirstAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes h1FirstAnimation {
  from {
    transform: matrix(1, 0, 0, 1, -20, 0); }
  to {
    transform: matrix(1, 0, 0, 1, 0, 0); } }
.basic-button:hover {
  background-color: #c51017;
  transition-duration: 0.5s; }

#headerButtonImg.headerButtonImgHover {
  transition-duration: 0.1s;
  transform: matrix(1, 0, 0, 1, 10, 0);
  opacity: 0; }

/************************************* FIRST SECTION *********************************************/
.firstSection {
  text-align: center;
  background-color: #EDEEF0; }

.first {
  padding: 10px;
  height: 562px;
  background-color: #fff;
  top: -50px;
  z-index: 10;
  position: relative; }
  .first h1 {
    color: #21262D;
    padding: 0;
    font-size: 45px; }
  .first img {
    width: 200px;
    margin: 0 10px; }

.team-logos span {
  margin-top: 15px;
  margin-bottom: 15px; }

.google {
  position: relative;
  top: 20px; }

#first-p {
  max-width: 150px;
  text-decoration: none;
  position: relative;
  padding: 0;
  margin: auto; }

#first-p:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s; }

#first-p:hover:after {
  width: 100%;
  right: 0;
  left: 0; }

/************************************* SECOND SECTION *********************************************/
.secondSection {
  height: 700px;
  position: relative;
  background: linear-gradient(rgba(33, 38, 45, 0.9), rgba(33, 38, 45, 0.9)), url("img/team-slider-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.teamSliderBackgrounds {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%; }

.arrow {
  width: 20px;
  cursor: pointer;
  transition: 0.4s;
  position: relative; }

.second {
  padding-top: 60px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row; }

.arrowSection {
  flex-basis: 0;
  flex-grow: 1; }

.titleSection {
  flex-basis: 0;
  flex-grow: 3;
  height: 2160px;
  overflow: hidden;
  transition: 0.4s; }

.titleSectionContainer {
  overflow: hidden;
  transition: 0.4s;
  position: relative;
  height: 540px; }

.titleSections h2 {
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 60px 60px;
  font-size: 45px;
  padding: 0;
  padding-left: 30px;
  padding-bottom: 10px; }

.titleSections p {
  font-family: league-gothic,league gothic,sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  letter-spacing: .075em;
  padding: 0 60px 60px 60px;
  font-size: 30px;
  padding: 0;
  padding-left: 30px;
  color: #ED1B24; }

.titleSections {
  opacity: 0.4;
  transition: 0.4s; }

.titleSection1 {
  opacity: 1 !important; }

.titleOn {
  opacity: 1;
  transition: 0.4s; }

.teamSlider p {
  color: #c5d3db;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 0 60px 60px 60px;
  max-width: 600px;
  text-align: left;
  padding: 0;
  color: #4f5a60; }

.teamSliderRight {
  padding: 30px; }

.team-slider-content-section {
  display: flex;
  flex-basis: 0;
  flex-grow: 10;
  flex-direction: row;
  z-index: 999; }

.teamSliderLeft {
  transition: 0.4s; }

.teamSliderRight {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  height: 600px;
  width: 400px;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  transition: 0.4s; }
  .teamSliderRight h1 {
    margin-top: 40px;
    color: #21262D;
    padding-bottom: 20px; }
  .teamSliderRight .p-seventh {
    color: #4f5a60;
    padding-bottom: 20px; }

.buttonHeaderContainer {
  z-index: 99; }

.secondRightSlider {
  z-index: 10;
  background-color: #fff;
  position: absolute;
  height: 7200px;
  width: 350px;
  transition: 0.4s;
  overflow: hidden; }

.secondRightSlider ul li {
  height: 600px; }

.teamSliderLeft {
  max-width: 400px;
  overflow: hidden; }
  .teamSliderLeft img {
    height: 600px;
    width: 600px;
    position: relative;
    left: -100px; }

.ts {
  flex-basis: 0;
  flex-grow: 1; }

.titleSections {
  height: 180px; }

.thirdSection {
  height: 330px;
  background-color: #EDEEF0;
  position: relative;
  z-index: 99; }

.third {
  z-index: 999; }
  .third h1 {
    padding: 0;
    font-size: 45px;
    color: #21262D;
    z-index: 99; }

.third-team-p {
  padding: 0;
  color: #4f5a60;
  text-align: center;
  padding-bottom: 25px;
  z-index: 99; }

.secondSkew {
  background-color: #EDEEF0;
  position: absolute;
  top: -20%;
  left: 0;
  height: 350px;
  z-index: -99;
  width: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  transition: 0.4s;
  z-index: 9; }

.footerSection {
  position: relative;
  height: 370px;
  background-color: #21262d;
  margin-top: 200px; }

.footer {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  align-items: center; }

.footer p {
  margin: 0;
  padding: 0;
  max-width: 600px;
  font-size: 14px;
  padding: 8px 0; }

.footer h1 {
  padding: 0;
  margin: 0;
  font-size: 30px; }

.footerTop {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  margin: 30px 0; }

.footerTopLeft {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: row;
  width: 100%; }

.footerTopRight {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: row;
  width: 100%;
  margin-left: 200px;
  margin-bottom: 20px; }

.footerTop1 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerTop2 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerTop3 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerTop4 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footer hr {
  width: 100%;
  height: 0.05em;
  border: none;
  background-color: silver; }

.footerBottom {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  padding: 20px 0;
  border-top: 0.01em solid silver; }

.footerBottom img {
  width: 18px; }

.footerBottom1 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerBottom2 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerBottom3 {
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column; }

.footerSection {
  margin-top: 0; }

/**************************** RESPONSIV SECTION *******************************/
@media only screen and (max-width: 1200px) {
  .footerTop {
    padding: 0 20px; }

  .footerBottom {
    padding: 0 20px;
    padding-top: 20px; }

  .footerTopRight {
    margin-left: 150px; } }
@media only screen and (max-width: 800px) {
  .footerTop {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 10;
    padding: 30px; }

  .footerBottom {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 4;
    padding: 30px; }

  .footerTopLeft {
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 2; }

  .footerTopRight {
    flex-direction: column;
    margin-left: 0;
    flex-basis: 0;
    flex-grow: 1; }

  .footerSection {
    height: 850px; } }
@media only screen and (max-width: 1100px) {
  .teamSliderLeft {
    display: none; }

  .secondRightSlider {
    width: 100%;
    padding-right: 50px; } }
@media only screen and (max-width: 800px) {
  .team-logos span {
    display: flex;
    flex-direction: column; }

  .firstSection {
    height: 1250px; }

  .first {
    width: 95%;
    height: 1250px; }
    .first img {
      margin-top: 20px;
      margin-bottom: 20px; }

  .teamSliderLeft {
    display: none; }

  .titleSectionContainer {
    height: 180px; }

  .second {
    flex-direction: column;
    width: 95%; }

  .team-slider-content-section {
    width: 100%; }

  .secondRightSlider {
    width: 100%; } }

/*# sourceMappingURL=team.css.map */
